@page
@model MarriageAgencyWeb.Pages.RequestsAndFilters.Request.PersonnelDepartmentModel
@{
    <h1>Отдел кадров</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Worker[0].FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Worker[0].PositionId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Worker)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @{
                            try
                            {
                                @Model.Position.First(r => r.PositionId == item.PositionId).PositionName
                            }
                            catch
                            {
                                <p> Данных нет </p>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

}