@page
@model MarriageAgencyWeb.Pages_ZodiacSigns.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Редактировать</h1>

<h4>Знак зодиака</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ZodiacSign.ZodiacId" />
            <div class="form-group">
                <label asp-for="ZodiacSign.ZodiacName" class="control-label"></label>
                <input asp-for="ZodiacSign.ZodiacName" class="form-control" />
                <span asp-validation-for="ZodiacSign.ZodiacName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZodiacSign.Description" class="control-label"></label>
                <input asp-for="ZodiacSign.Description" class="form-control" />
                <span asp-validation-for="ZodiacSign.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
