@page
@model MarriageAgencyWeb.Pages_Nationalities.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Создать</h1>

<h4>Национальность</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nationality.NationalityId" class="control-label"></label>
                <input asp-for="Nationality.NationalityId" class="form-control" />
                <span asp-validation-for="Nationality.NationalityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nationality.NationalityName" class="control-label"></label>
                <input asp-for="Nationality.NationalityName" class="form-control" />
                <span asp-validation-for="Nationality.NationalityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nationality.Comments" class="control-label"></label>
                <input asp-for="Nationality.Comments" class="form-control" />
                <span asp-validation-for="Nationality.Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
