@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<div class="text-left">
    <h1 class="display-4">Добро пожаловать на официальный сайт брачного агентства!</h1>
    <h1 class="display-4"><a href="https://localhost:5001/Positions" style="color: #6633CC; text-decoration: none;">Должности</a></h1>
    <p style="color: lightgrey">———————</p>
    <h1 class="display-4"><a href="https://localhost:5001/Workers" style="color: #6633CC; text-decoration: none;">Сотрудники</a></h1>
    <p style="color: lightgrey">———————</p>
    <h1 class="display-4"><a href="https://localhost:5001/Nationalities" style="color: #6633CC; text-decoration: none;">Национальности</a></h1>
    <p style="color: lightgrey">———————</p>
    <h1 class="display-4"><a href="https://localhost:5001/Clients" style="color: #6633CC; text-decoration: none;">Клиенты</a></h1>
    <p style="color: lightgrey">———————</p>
    <h1 class="display-4"><a href="https://localhost:5001/Relations" style="color: #6633CC; text-decoration: none;">Отношения</a></h1>
    <p style="color: lightgrey">———————</p>
    <h1 class="display-4"><a href="https://localhost:5001/Services" style="color: #6633CC; text-decoration: none;">Услуги</a></h1>
    <p style="color: lightgrey">———————</p>
    <h1 class="display-4"><a href="https://localhost:5001/ZodiacSigns" style="color: #6633CC; text-decoration: none;">Знаки зодиака</a></h1>
</div>
