@page
@model MarriageAgencyWeb.Pages_Relations.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Добавить</h1>

<h4>Отношение</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Relation.RelationId" class="control-label"></label>
                <input asp-for="Relation.RelationId" class="form-control" />
                <span asp-validation-for="Relation.RelationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Relation.RelationName" class="control-label"></label>
                <input asp-for="Relation.RelationName" class="form-control" />
                <span asp-validation-for="Relation.RelationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Relation.Description" class="control-label"></label>
                <input asp-for="Relation.Description" class="form-control" />
                <span asp-validation-for="Relation.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
